<% content_for :titulo do %>
  <i class="fa fa-lock" aria-hidden="true"></i> Não Autorizado
<% end %>


<center>
<h1>
	<i class="fa fa-5x fa-lock" aria-hidden="true"></i>
</h1>
<h1>
<p class="text-danger">Vc não tem perimissão para acessar esta area!</p>
</h1>
</center>

<br/>