<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/home/index"><i class="fa fa-fw fa-dashboard"></i> Area de Trabalho</a>
        </li>
        <li>
            <a href="/pessoas"><i class="fa fa-fw fa-bar-chart-o"></i> Pessoas</a>
        </li>
        <li>
            <a href="/imoveis"><i class="fa fa-fw fa-table"></i> Imovies</a>
        </li>
        <li>
            <a href="/veiculos"><i class="fa fa-fw fa-edit"></i> Veiculos</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-desktop"></i> Reuniões</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-wrench"></i> Usuarios</a>
        </li>
        <li>
            <a href="/entidades"><i class="fa fa-fw fa-wrench"></i> Entidades</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->