<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="/home/index"><i class="fa fa-fw fa-desktop"></i> Area de Trabalho</a>
        </li>
        <li>
            <a href="/pessoas"><i class="fa fa-fw fa-group"></i> Pessoas</a>
        </li>
        <li>
            <a href="/imoveis"><i class="fa fa-fw fa-home"></i> Imovies</a>
        </li>
        <li>
            <a href="/veiculos"><i class="fa fa-fw fa-car"></i> Veiculos</a>
        </li>
        <li>
            <a href="/agendas"><i class="fa fa-fw fa-calendar"></i> Agenda</a>
        </li>
        <% if current_user.tipo == "MASTER" or current_user.tipo == "ADMINISTRADOR" %>
            <li>
                <a href="/usuarios"><i class="fa fa-fw fa-user"></i> Usuários</a>
            </li>
        <% end %>
        <% if current_user.tipo == "MASTER" %>
            <li>
                <a href="/entidades"><i class="fa fa-fw fa-user-plus"></i> Entidades</a>
            </li>
            <li>
                <a href="/cidades"><i class="fa fa-fw fa-map"></i> Cidades</a>
            </li>
            <li>
                <a href="/bairros"><i class="fa fa-fw fa-map-marker"></i> Bairros</a>
            </li>
        <% end %>
    </ul>
</div>
<!-- /.navbar-collapse -->